In [1]:
import sys
sys.path.insert(0, '..')

from Functions.RelationMatching import relationMatching
from Functions.Connection import Connection

conn = Connection("bolt+s://e3a58db5.databases.neo4j.io:7687", "neo4j", "KR14Xk19s07EJwooFQ9-3dAnH7cL-b9FxnEAVSmG3f0")

df = relationMatching(1, conn)

conn.close()

df.head()

Coincidente --> {'id': 87, 'tipo': 'PADRE_DI', 'da': 203, 'a': 201}
Coincidente --> {'id': 88, 'tipo': 'MADRE_DI', 'da': 202, 'a': 201}
Contraddittoria DIRETTA [{'id': 90, 'tipo': 'NONNA_DI', 'da': 205, 'a': 201}] - [{'id': 100, 'tipo': 'NONNO_DI', 'da': 217, 'a': 213}] -- getInfoSemi->areDirectlyContraddictoryEntranti
Relazione complementare in G1 di tipo NONNA_DI con entità di partenza id:205 e entità di arrivo id:201 -- getInfoSemi->if(b)Entranti
Relazione complementare in G1 di tipo NONNO_DI con entità di partenza id:206 e entità di arrivo id:201 -- getInfoSemi->if(b)Entranti
Relazione complementare in G1 di tipo NONNO_DI con entità di partenza id:207 e entità di arrivo id:201 -- getInfoSemi->if(b)Entranti
Relazione complementare in G2 di tipo NONNA_DI con entità di partenza id:216 e entità di arrivo id:213 -- getInfoSemi->penultimoForEntranti
Relazione semifissa NONNA_DI -- ['Relazione di tipo NONNA_DI corretta'] -- getInfoSemi-> ultimoForEntranti
Relazione semifissa NONNO_DI -- ['Relazione di tipo NONNO_DI corretta'] -- getInfoSemi-> ultimoForEntranti

,Rilevazione,ID Relazione Primo Grafo,Tipo Relazione Primo Grafo,ID Relazione Secondo Grafo,Tipo Relazione Secondo Grafo,Attributi Entita' Sorgente,Attributi Entita' Destinazione
0,Complementare Grafo1,97,-1,CUGINO_DI,,Tipo : Person -- id : 1 -- Surname : Masolini ...,Tipo : Person -- id : 11 -- Surname : Bellosi ...
0,Complementare Grafo2,105,-1,MARITO_DI,,Tipo : Person -- id : 1 -- Surname : Masolini ...,Tipo : Person -- id : 9 -- Surname : f -- grap...
0,Complementare Grafo2,106,-1,CUGINO_DI,,Tipo : Person -- id : 1 -- Surname : Masolini ...,Tipo : Person -- id : 10 -- Surname : Bellosi ...
0,Coincidente,87,99,PADRE_DI,PADRE_DI,Tipo : Person -- id : 3 -- Surname : Masolini ...,Tipo : Person -- id : 1 -- Surname : Masolini ...
0,Coincidente,88,98,MADRE_DI,MADRE_DI,Tipo : Person -- id : 2 -- Surname : Scaramell...,Tipo : Person -- id : 1 -- Surname : Masolini ...